<section class="full-screen party-page hosted">
	
	<div class="fs-col col-md-8 col-sm-6 bg-default hidden-xs">
		<div class="video-wrapper" ng-show="hosting_ctrl.partying"  >
			<div id="player">
				<!-- Embeded video player -->
			</div>	
		</div>
		<div class="fs-item" ng-hide="hosting_ctrl.partying" >
			<img src="/images/icons/konrad-logo.png" alt="Konrad Group" class="img-responsive">
		</div>
	</div>

	<div class="fs-col col-md-4 col-sm-6 col-xs-12 scroll bg-white no-padding">
		<ul class="list-group">
			<li class="list-group-item clearfix" >
		        <div class="button-group col-md-12 col-sm-12 col-xs-12 clearfix" ng-hide="hosting_ctrl.partying" >
		        	<button class="btn btn-default app-button col-md-6 col-sm-6 col-xs-6" 
		        			ng-click="hosting_ctrl.start_party()" 
		        			ng-hide="hosting_ctrl.partying" 
		        			ng-disabled="hosting_ctrl.party.playlist.length < 1" 
		        		>
			          Start party
			        </button>
			        <button class="btn btn-default app-button col-md-6 col-sm-6 col-xs-6" ng-click="hosting_ctrl.go_back()" ng-hide="hosting_ctrl.partying" >
			          Go back
			        </button>
		        </div>
		        <div class="button-group col-md-12 col-sm-12 col-xs-12 clearfix" ng-show="hosting_ctrl.partying" >
					<button class="btn btn-default app-button col-md-6 col-sm-6 col-xs-6" ng-click="hosting_ctrl.stop_hosting()" >
			          Stop party
			        </button>
			        <button class="btn btn-default app-button col-md-6 col-sm-6 col-xs-6" 
			        		ng-click="hosting_ctrl.next_song()" 
			        		ng-disabled="hosting_ctrl.party.playlist.length < 2"
			        	>
			          Next song
			        </button>
		        </div>
			</li>
		    <li class="list-group-item clearfix"
		        ng-repeat="item in hosting_ctrl.party.playlist track by item.song.id.videoId"
		        ng-class="{ 'song-disabled' : ( item.state === 'ended' ) }"
		      > 
		        <h5>
		        	<button class="delete-song-button" ng-click="hosting_ctrl.remove_song(item)" >Delete song</button>
		        	<strong>{{ $index+1 }}.</strong> {{ item.song.snippet.title }}
		        </h5>
		    </li>    
	    </ul>
	</div>
	
</section>
