<section class="full-screen party-page hosted">

	<div class="col col-md-6 col-sm-12 col-xs-12" >
		<div class="party-panel text-center row">
			<h1>You are hosting a party!</h1>
			<div class="video-wrapper" ng-show="hosting_ctrl.partying"  >
				<div id="player">
					<!-- Embeded video player -->
				</div>	
			</div>
			<div class="button-group">
				<button class="btn btn-default app-button col-md-6" ng-click="hosting_ctrl.start_party()" ng-hide="hosting_ctrl.partying" >
		          Start party
		        </button>
		        <button class="btn btn-default app-button col-md-6" ng-click="hosting_ctrl.go_back()" ng-hide="hosting_ctrl.partying" >
		          Go back
		        </button>
		        <button class="btn btn-default app-button col-md-12" ng-click="hosting_ctrl.stop_hosting()" ng-show="hosting_ctrl.partying" >
		          Stop party
		        </button>
			</div>
		</div>
	</div>
	
</section>
