<section layout="column" >

    <div ng-show="play_ctrl.party.playlist.length" >

	    <section ng-hide="play_ctrl.party.host" >
	        <rla-host>
				<!-- Injects the option to host a party -->
	        </rla-host>
	    </section>

	    <section ng-show="play_ctrl.party.host && (play_ctrl.party.host !== play_ctrl.client.device_id)" class="full-screen" >
	    	<rla-hosted>
				<!-- Injects information about the party playlist -->
	    	</rla-hosted>
	    </section>

    </div>

    <rla-no-songs-added>
	    <!-- Directive that shows a message whenever there is no songs in the current playlist -->
	</rla-no-songs-added>
	
</section>
