<section>

  <form novalidate class="search-song-form tab-padding">
    <div class="col col-md-12 col-sm-12 col-xs-12 input-group">
      <div class="col col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
          <div class="col col-md-10 col-sm-10 col-xs-10">
            <input ng-model="search_ctrl.search.query" 
                   type="text" 
                   class="form-control search-input pull-left" 
                   autocomplete="true"
                   focus-me
                   focus-me-if="true"
                   placeholder="Search song or artist"
                   ng-keyup="search_ctrl.get_songs()"
                />
          </div>
          <div class="col col-md-2 col-sm-2 col-xs-2">
            <span class="input-group-addon pull-left"
                  ng-click="search_ctrl.clear_search()" >
                  X
            </span>
          </div>
        </div>
      </div>
    </div>
  </form>

  <ul class="list-group song-results" >
    <li class="list-group-item clearfix"
        ng-repeat="YouTube_Song_Object in search_ctrl.search.query_result"
        ng-click="search_ctrl.party.process_song(YouTube_Song_Object)"
        ng-class="{ 
                      'song-disabled' :  ( search_ctrl.party.find(YouTube_Song_Object) !== -1),
                  }"
      > 
        <div class="col col-md-10 col-sm-10 col-xs-12">
            <div class="col col-md-2 col-sm-2 col-xs-12">
              <img class="img-responsive kg-thumbnail" ng-src="{{ search_ctrl.search.thumbnail(YouTube_Song_Object.snippet.thumbnails.default.url) }}" alt="{{ YouTube_Song_Object.snippet.title }} thumbnail">
            </div>
            <div class="col col-md-10 col-sm-10 col-xs-12" >
              <h4>
                <div class="icon-group">
                  <!-- Song is removable -->
                  <span class="kg-tooltip default"
                        tooltip="You can remove this song"
                        ng-class="{ 
                                    'visible' : ( search_ctrl.vote.user_has_voted(YouTube_Song_Object) ),
                                    'hidden'  : !( search_ctrl.vote.user_has_voted(YouTube_Song_Object) )
                                  }" 
                      >
                        <i class="disabled-msg fa fa-times-circle"></i>
                  </span>
                  <!-- Song added -->
                  <span class="kg-tooltip check" 
                        tooltip="Song added to the playlist!" 
                        ng-class="{ 
                                    'visible' : ( search_ctrl.party.find(YouTube_Song_Object) !== -1),
                                    'hidden'  : ( search_ctrl.party.find(YouTube_Song_Object) === -1)
                                  }" 
                      >
                        <i class="disabled-msg fa fa-check-circle"></i>
                  </span> 
                </div>
                {{ YouTube_Song_Object.snippet.title }}
              </h4>
            </div>
        </div>
        <div class="preview-animation"></div>
    </li>    
  </ul>

</section>