<md-content class="md-padding">
  
    <form novalidate>
      <div>
      <input id="songQuery" 
             type="text" 
             placeholder="Search song by name"
             ng-model="searchParam"
            >
        <button ng-click="search()"
              class="btn btn-submit"
            >
          Search Songs
        </button>
        <button ng-click="clearFilter()"
                class="btn btn-submit"
              >
            Clear Search
        </button>
      </div>
    </form>

    <div class="text-center col col-md-4 "ng-repeat="track in foundTracks" >
        <div class="search-song-thumbnail">
          <img src="{{ track.album.images[0].url }}" class="img-responsive" width="100%">
        </div>
        <div>
          <h4>
             {{ track.name }}
             <small class="col col-md-12" >
               {{ track.artists[0].name }}
             </small>
          </h4>
          <button ng-click="addSong(track)"
                  class="btn btn-primary"
              >
                Add Song
            </button>
        </div>
      </div>
</md-content>


