<section>
    
    <ul class="list-group vote-list" ng-show="vote_ctrl.party.playlist.length" >
      <li lass="list-group-item clearfix" ng-hide="vote_ctrl.party.host" >
        <button class="btn btn-default app-button host-button" ui-sref="hosting" >
          Host a party {{ vote_ctrl.party.host }}
        </button>
      </li>
      <li class="list-group-item clearfix"
          ng-repeat="item in vote_ctrl.party.playlist track by item.song.id.videoId"
          ng-click="vote_ctrl.vote.add_vote(item.song)"
          ng-class="{ 'song-disabled' :  vote_ctrl.vote.user_has_voted(item.song)  }"
        > 
          <h5><strong>{{ $index+1 }}.</strong> {{ item.song.snippet.title }}</h5>
      </li>    
    </ul>


  <rla-no-songs-added>
    <!-- Directive that shows a message whenever there is no songs in the current playlist -->
  </rla-no-songs-added>

</section>