<section>
    
    <ul class="list-group vote-list" ng-show="vote_ctrl.party.playlist.length" >
      <li lass="list-group-item clearfix" ng-if="!vote_ctrl.party.host" >
        <button class="btn btn-default app-button host-button" ui-sref="hosting" >
          Host a party
        </button>
      </li>
      <li class="list-group-item clearfix"
          ng-repeat="item in vote_ctrl.party.playlist | startFrom:( (vote_ctrl.current_page - 1) * vote_ctrl.page_size ) | limitTo: vote_ctrl.page_size track by item.song.id.videoId"
          ng-click="vote_ctrl.vote.process_vote(item.song)"
          ng-class="{ 
                      'song-disabled' :  vote_ctrl.vote.user_has_voted(item.song),
                      'playing'       : ($index === 0)
                    }"
        > 
          <h5>
            <strong>{{ $index+1 }}.</strong> 
            <div class="icon-group" ng-if="vote_ctrl.vote.user_has_voted(item.song)" >
              <i class="fa fa-star"></i>
            </div>
            {{ item.song.snippet.title }}
          </h5>
      </li> 
      <uib-pagination total-items="vote_ctrl.party.playlist.length" 
                      ng-model="vote_ctrl.current_page"
                      items-per-page="vote_ctrl.page_size"
                      previous-text="&lsaquo;"
                      next-text="&rsaquo;"
                      first-text="&laquo;"
                      last-text="&raquo;"
                    >
        <!-- Injects ui.bootstrap pagination -->
      </uib-pagination>
    </ul>


  <rla-no-songs-added>
    <!-- Directive that shows a message whenever there is no songs in the current playlist -->
  </rla-no-songs-added>

</section>