.app-button {
	font-weight: bold;
	text-transform: uppercase;
	color: $konrad-blue;
	border: none;
	border-radius: 0;
	padding: 1em 5em;
}

.host-button {
	width: 100%;
	border-left: 0em solid transparent;
	border-right: 0em solid transparent;
	// margin-bottom: 1em;
	transition: all .25s linear;
		&:hover {
			background: white;
			border-left: 5em solid $konrad-blue;
			border-right: 5em solid $konrad-blue;
			// border-bottom: .25em solid $konrad-blue;
		}
}

.button-group {
	button {
		margin-top: 1em;
		padding: .5em;
		color: $konrad-blue;
		background: white;
		border: none;
		border-radius: 0;
	    transition: opacity 0.5s ease-in-out;
		&:first-child {
			border-right: 1px solid $konrad-blue;
		}
	}
}