.search-pagination-wrapper {
	.pagination {
		li {
			a {
				width: 20%;
			}
		}
	}
}

.vote-pagination-wrapper {
	.pagination {
		li {
			a {
				width: 10%;
			}
		}
	}
}

.pagination {
	text-align: center;
	width: 100%;
	li {
		a {
			border-radius: 0px !important;
		}
	}
}

.pagination>li>a, .pagination>li>span {
	color: $konrad-blue;
	border: none;
}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus { 
	background: $konrad-blue;
	color: white;
}