.no-padding-col {
	padding: 0;
}

.margin-bottom {
	margin-bottom: 2em;
}

.bg-white {
	background: whitesmoke;
}

.search-row {

	color: whitesmoke;
	font-weight: bold;

	small {
		display: block;
		padding: 1em 0;
	}

	.search-col {
		display: table-cell;
		position: relative;
	    background-size: cover;
	    background-repeat: no-repeat;
	    background-position: 50% 0%;
	    padding-bottom: 33.333%;
	    cursor: pointer;
	    		&:hover {
					opacity: 0.8;			    		
		    	}

			> div {
			    position: absolute;
			    bottom: 0%;
			    width: 100%;
			    left: 50%;
			    transform: translate(-50%, 0%);
			    padding: .5em 0;
			    background: rgba(0,0,0,0.7);
		}
	}

}

@media (max-width: 768px) { 
	.search-row{
		.search-col {
			padding-bottom: 100%;
		}
	}
}

@media (min-width: 768px) and (max-width: 991px) { 
	.search-row{
		.search-col {
			padding-bottom: 50%;
		}
	}
}

// col-md-4 col-xs-12 col-sm-6