.search-song-thumbnail {
	width: 100%;
	position: relative;
	padding-bottom: 100%;
	overflow: hidden;

	> img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

.no-padding-col {
	padding: 0;
}

.margin-bottom {
	margin-bottom: 2em;
}

.bg-white {
	background: whitesmoke;
}

.search-row {

	.search-col {
		display: table-cell;
		position: relative;
	    background-size: cover;
	    background-repeat: no-repeat;
	    background-position: 50% 0%;
	    padding-bottom: 33.333%;

		// padding: 0.5em 0;
			> div {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}

}

@media (max-width: 768px) { 
	.search-row{
		.search-col {
			padding-bottom: 100%;
		}
	}
}

@media (min-width: 768px) and (max-width: 991px) { 
	.search-row{
		.search-col {
			padding-bottom: 50%;
		}
	}
}

// col-md-4 col-xs-12 col-sm-6