.search-song-form {
	margin: 2em 0;
		.input-group {
			position: fixed;
			z-index: 2;
			padding: 3em 0 2em 0;
			top: 68px;
    		background: rgba(255,255,255, 0.8);
    			.input-group-addon {
    				border: 0;
    				border-radius: 50%;
    				transition: all 0.5s ease-in-out;
    				text-transform: uppercase;
    				background: whitesmoke;
    				width: auto;
    				padding: 1em;
    					&:hover, &:focus {
    						cursor: pointer;
						    color: lighten($konrad-blue, 20);
						}
    			}
		}

		.search-input {
			-webkit-box-shadow: none;
		    box-shadow: none;
			border-top: none;
			border-left: none;
			padding: 1em;
			border-right: none;
			font-size: 1.2em;
			border-radius: 0;
			transition: all 0.5s ease-in-out;

				&:hover, &:focus {
				    color: lighten($konrad-blue, 20);
				}
		}
}

.button-group {
	button {
		margin-top: 1em;
		padding: .5em;
		color: $konrad-blue;
		background: white;
		border: none;
		border-radius: 0;
		border: 1px solid $konrad-blue;
	    transition: all 0.5s ease-in-out;
		&:hover, &:focus {
			background: white;
			border: 1px solid $konrad-blue;
			color: $konrad-blue;
			opacity: 0.7;
		}
		&:first-child {
			border-right: none;
		}
	}
}

.song-results, .vote-list {
	padding-top: 8em;
}

.list-group {
	z-index: 1;
		.disabled-msg { 
			visibility: hidden;
		}
		.list-group-item.song-disabled {
			background: #ecf0f1;
			.disabled-msg { 
				visibility: visible;
			}
				&:hover{ cursor: default; }
		}
		.list-group-item {
			padding-bottom: 1em;
			transition: all 0.2s linear;
				&:not(.song-disabled){
					&:hover, &:focus {
						cursor: pointer;
					    background: lighten($light-gray, 4);
					    // border-top-color: lighten($konrad-blue, 20);
			    	}
				}
				&.user-voted {
					// 
				}
		} 
		.preview-animation {
		    position: absolute;
		    height: .5em;
		    bottom: 0;
		    left: 0;
		    width: 0%;
		    opacity: 0;
		    background: $preview-bar;
		    transition: all 0s linear;
		}

}

@media (max-width: $screen-ss) { 
	.logo-container {
		display: none;
	}
	.nav-tabs {
		width: 100%;
		li {
			width: 100%;
		}
	}
	.tab-padding {
	    padding-top: 149px !important;
	}
	.search-song-form {
		.input-group {
			top: 145px;
		}
	}
	.kg-thumbnail {
		width: 100%;
	}
}