.search-song-form {
	margin: 2em 0;
}

.search-input {
	-webkit-box-shadow: none;
    box-shadow: none;
	border-top: none;
	border-left: none;
	padding: 1em;
	border-right: none;
	font-size: 1.2em;
	border-radius: 0;
	transition: all 0.5s ease-in-out;

		&:hover, &:focus {
		    border-bottom-color: #909090;
		}
}

.button-group {
	button {
		margin-top: 1em;
		padding: .5em;
		color: $konrad-blue;
		background: white;
		border: none;
		border-radius: 0;
		border: 1px solid $konrad-blue;
	    transition: all 0.5s ease-in-out;
		&:hover, &:focus {
			background: white;
			border: 1px solid $konrad-blue;
			color: $konrad-blue;
			opacity: 0.7;
		}
		&:first-child {
			border-right: none;
		}
	}
}

@media (max-width: $screen-xss) { 
	.logo-container {
		display: none;
	}
	.nav-tabs {
		width: 100%;
		li {
			width: 100%;
		}
	}
	.tab-padding {
	    padding-top: 149px !important;
	}
}