<section class="full-screen hosting-page" >
	<div class="fs-item text-center" >

		<div class="login-panel">
			<img src="/images/icons/konrad-logo.png" alt="Konrad Group" class="img-responsive">
		</div>

		<div ng-hide="partyStarted" >
			<button class="btn btn-default login-button col col-md-6" ng-click="startParty()" >
				Start Party
			</button>
			<button class="btn btn-default login-button col col-md-6" ng-click="stopHosting()" >
				Return to app
			</button>
		</div>

		<div ng-show="partyStarted" >
			<button class="btn btn-default login-button col col-md-12" ng-click="stopHosting()" >
				Stop Party
			</button>
		</div>
		
		<!-- 
			<div class="intrinsic-container" >
				<iframe id="spotify" ng-src="{{ temp }}"  width="300" height="380" frameborder="0" allowtransparency="true">
				</iframe>
			</div>
 		-->

	</div>
</section>