.search-row {

	color: whitesmoke;
	font-weight: bold;

	small {
		display: block;
		padding: 1em 0;
	}

	.search-col {
		display: table-cell;
		position: relative;
	    background-size: cover;
	    background-repeat: no-repeat;
	    background-position: 50% 0%;
	    padding-bottom: 33.333%;
	    cursor: pointer;

			> footer, header {
			    position: absolute;
			    width: 100%;
			    left: 50%;
			    transform: translate(-50%, 0%);
			    padding: .5em 0;
			}

			> footer {
				bottom: 0%;
				background: rgba(0,0,0,0.7);
			}

			> header {
				visibility: hidden;
			    top: 0%;
			    background: rgba(0,0,0,1);
			}

			&:hover {
				opacity: 0.8;			    		
	    	}
	    	&.song-disabled {
				opacity: 0.6;
					&:hover{ cursor: default; }
					> header { 
						visibility: visible;
					}
			}


	}

}

@media (max-width: 768px) { 
	.search-row{
		.search-col {
			padding-bottom: 100%;
		}
	}
}

@media (min-width: 768px) and (max-width: 991px) { 
	.search-row{
		.search-col {
			padding-bottom: 50%;
		}
	}
}