/* line 1, ../sass/_general.scss */
ul {
  list-style: none;
}

/* line 5, ../sass/_general.scss */
.tabsdemoDynamicHeight md-content {
  background-color: transparent !important;
}

/* line 7, ../sass/_general.scss */
.tabsdemoDynamicHeight md-content md-tabs {
  background: #f6f6f6;
  border: 1px solid #e1e1e1;
}

/* line 10, ../sass/_general.scss */
.tabsdemoDynamicHeight md-content md-tabs md-tabs-wrapper {
  background: white;
}

/* line 12, ../sass/_general.scss */
.tabsdemoDynamicHeight md-content h1:first-child {
  margin-top: 0;
}

/* line 15, ../sass/_general.scss */
.track {
  margin-bottom: 10px;
}

/* line 18, ../sass/_general.scss */
.track img, .info {
  display: inline-block;
}

/* line 22, ../sass/_general.scss */
.whiteframedemoBasicUsage md-whiteframe {
  background: #fff;
  margin: 30px;
  height: 100px;
}

/* line 27, ../sass/_general.scss */
.info > .swipedemoBasicUsage .demo-swipe {
  padding: 20px 10px;
}

/* line 29, ../sass/_general.scss */
.info > .swipedemoBasicUsage .no-select {
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 1, ../sass/_full-screen-panels.scss */
.full-screen {
  width: 100vw;
  height: 100vh;
  position: relative;
}
/* line 6, ../sass/_full-screen-panels.scss */
.full-screen > .fs-item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* line 13, ../sass/_full-screen-panels.scss */
.full-screen.fs-modal {
  background: rgba(0, 0, 0, 0.5);
}
/* line 16, ../sass/_full-screen-panels.scss */
.full-screen.fs-modal > div, .full-screen.fs-modal > section {
  z-index: 99;
}
