@import url(https://fonts.googleapis.com/css?family=PT+Sans);
/* line 1, ../sass/_general.scss */
body, html {
  font-family: 'PT Sans', sans-serif;
}

/* line 5, ../sass/_general.scss */
ul {
  list-style: none;
}

/* line 9, ../sass/_general.scss */
.scroll {
  overflow-y: auto;
}

/* line 13, ../sass/_general.scss */
.no-padding {
  padding: 0 !important;
}

/* line 17, ../sass/_general.scss */
.tabsdemoDynamicHeight md-content {
  background-color: transparent !important;
}

/* line 21, ../sass/_general.scss */
.tabsdemoDynamicHeight md-content md-tabs {
  background: #f6f6f6;
  border: 1px solid #e1e1e1;
}

/* line 26, ../sass/_general.scss */
.tabsdemoDynamicHeight md-content md-tabs md-tabs-wrapper {
  background: white;
}

/* line 30, ../sass/_general.scss */
.tabsdemoDynamicHeight md-content h1:first-child {
  margin-top: 0;
}

/* line 34, ../sass/_general.scss */
.track {
  margin-bottom: 10px;
}

/* line 38, ../sass/_general.scss */
.track img, .info {
  display: inline-block;
}

/* line 42, ../sass/_general.scss */
.whiteframedemoBasicUsage md-whiteframe {
  background: #fff;
  margin: 30px;
  height: 100px;
}

/* line 47, ../sass/_general.scss */
.info > .swipedemoBasicUsage .demo-swipe {
  padding: 20px 10px;
}

/* line 51, ../sass/_general.scss */
.info > .swipedemoBasicUsage .no-select {
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 62, ../sass/_general.scss */
.no-padding-col {
  padding: 0;
}

/* line 66, ../sass/_general.scss */
.no-songs-added {
  background: #0779b7;
  color: white;
}

/* line 71, ../sass/_general.scss */
.btn-konrad {
  background: white;
  border-radius: 0;
  border: 1px solid #088bd2;
  color: #088bd2;
}
/* line 76, ../sass/_general.scss */
.btn-konrad:hover {
  color: #088bd2;
  opacity: 0.8;
}

/* line 82, ../sass/_general.scss */
.konrad-logo:hover {
  cursor: pointer;
}

/* line 86, ../sass/_general.scss */
.kg-thumbnail {
  max-width: 100%;
}

/* line 90, ../sass/_general.scss */
.icon-group {
  display: inline-block;
  margin-right: 1em;
}

/* line 95, ../sass/_general.scss */
.list-group {
  margin: 0;
}
/* line 97, ../sass/_general.scss */
.list-group .list-group-item {
  border-radius: 0;
}

/* line 102, ../sass/_general.scss */
.hidden {
  visibility: hidden;
}

/* line 105, ../sass/_general.scss */
.visible {
  visibility: visible;
}

/* line 1, ../sass/_buttons.scss */
.app-button {
  font-weight: bold;
  text-transform: uppercase;
  color: #088bd2;
  border: none;
  border-radius: 0;
  padding: 1em 5em;
}

/* line 10, ../sass/_buttons.scss */
.host-button {
  margin-top: 3em;
}

/* line 15, ../sass/_buttons.scss */
.button-group button {
  margin-top: 1em;
  padding: .5em;
  color: #088bd2;
  background: white;
  border: none;
  border-radius: 0;
  transition: opacity 0.5s ease-in-out;
}
/* line 29, ../sass/_buttons.scss */
.button-group button:first-child {
  border-right: 1px solid #088bd2;
}

/* line 2, ../sass/_backgrounds.scss */
.bg-white {
  background: white;
}

/* line 1, ../sass/_full_screen_panels.scss */
.full-screen {
  width: 100vw;
  height: 100vh;
  position: relative;
}
/* line 6, ../sass/_full_screen_panels.scss */
.full-screen > .fs-item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* line 13, ../sass/_full_screen_panels.scss */
.full-screen.fs-modal {
  background: rgba(0, 0, 0, 0.5);
}
/* line 16, ../sass/_full_screen_panels.scss */
.full-screen.fs-modal > div, .full-screen.fs-modal > section {
  z-index: 99;
}

/* line 22, ../sass/_full_screen_panels.scss */
.fs-col {
  height: 100vh;
}

/* line 1, ../sass/_search_song.scss */
.search-song-form {
  margin: 2em 0;
}
/* line 3, ../sass/_search_song.scss */
.search-song-form .input-group {
  position: fixed;
  z-index: 2;
  padding: 3em 0 2em 0;
  top: 68px;
  background: rgba(255, 255, 255, 0.8);
}
/* line 9, ../sass/_search_song.scss */
.search-song-form .input-group .input-group-addon {
  border: 0;
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
  text-transform: uppercase;
  background: whitesmoke;
  width: auto;
  padding: 1em;
}
/* line 17, ../sass/_search_song.scss */
.search-song-form .input-group .input-group-addon:hover, .search-song-form .input-group .input-group-addon:focus {
  cursor: pointer;
  color: #48baf8;
}
/* line 24, ../sass/_search_song.scss */
.search-song-form .search-input {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-top: none;
  border-left: none;
  padding: 1em;
  border-right: none;
  font-size: 1.2em;
  border-radius: 0;
  transition: all 0.5s ease-in-out;
}
/* line 35, ../sass/_search_song.scss */
.search-song-form .search-input:hover, .search-song-form .search-input:focus {
  color: #48baf8;
}

/* line 41, ../sass/_search_song.scss */
.song-results, .vote-list {
  padding-top: 8em;
}

/* line 45, ../sass/_search_song.scss */
.list-group {
  z-index: 1;
}
/* line 48, ../sass/_search_song.scss */
.list-group .list-group-item.song-disabled {
  background: #ecf0f1;
}
/* line 50, ../sass/_search_song.scss */
.list-group .list-group-item.song-disabled:hover {
  cursor: pointer;
}
/* line 55, ../sass/_search_song.scss */
.list-group .list-group-item {
  padding-bottom: 1em;
  transition: all 0.2s linear;
}
/* line 59, ../sass/_search_song.scss */
.list-group .list-group-item:not(.song-disabled):hover, .list-group .list-group-item:not(.song-disabled):focus {
  cursor: pointer;
  background: #f8f9fa;
}
/* line 66, ../sass/_search_song.scss */
.list-group .preview-animation {
  position: absolute;
  height: .5em;
  bottom: 0;
  left: 0;
  width: 0%;
  opacity: 0;
  background: #48baf8;
  transition: all 0s linear;
}

@media (max-width: 500px) {
  /* line 80, ../sass/_search_song.scss */
  .logo-container {
    display: none;
  }

  /* line 83, ../sass/_search_song.scss */
  .nav-tabs {
    width: 100%;
  }
  /* line 85, ../sass/_search_song.scss */
  .nav-tabs li {
    width: 100%;
  }

  /* line 89, ../sass/_search_song.scss */
  .tab-padding {
    padding-top: 149px !important;
  }

  /* line 93, ../sass/_search_song.scss */
  .search-song-form .input-group {
    top: 145px;
  }

  /* line 97, ../sass/_search_song.scss */
  .kg-thumbnail {
    width: 100%;
  }
}
/* line 1, ../sass/_image_grid.scss */
.search-row {
  color: whitesmoke;
  font-weight: bold;
}
/* line 6, ../sass/_image_grid.scss */
.search-row small {
  display: block;
  padding: 1em 0;
}
/* line 11, ../sass/_image_grid.scss */
.search-row .search-col {
  padding: .5em;
  display: table-cell;
  position: relative;
  background-repeat: no-repeat;
  background-position: 50% 0%;
  background-size: cover;
  padding-bottom: 33.33%;
  background-color: #c8c8c8;
  cursor: pointer;
  transition: opacity .5s ease-in-out;
}
/* line 23, ../sass/_image_grid.scss */
.search-row .search-col > footer, .search-row .search-col header {
  position: absolute;
  width: 100%;
  left: 50%;
  transform: translate(-50%, 0%);
  padding: .5em 0;
}
/* line 31, ../sass/_image_grid.scss */
.search-row .search-col > footer {
  bottom: 0%;
  background: rgba(0, 0, 0, 0.8);
}
/* line 36, ../sass/_image_grid.scss */
.search-row .search-col > header {
  visibility: hidden;
  top: 0%;
  background: rgba(0, 0, 0, 0.8);
}
/* line 42, ../sass/_image_grid.scss */
.search-row .search-col:hover {
  opacity: 0.8;
}
/* line 45, ../sass/_image_grid.scss */
.search-row .search-col.song-disabled {
  opacity: 0.6;
}
/* line 47, ../sass/_image_grid.scss */
.search-row .search-col.song-disabled:hover {
  cursor: default;
}
/* line 48, ../sass/_image_grid.scss */
.search-row .search-col.song-disabled > header {
  visibility: visible;
}
/* line 56, ../sass/_image_grid.scss */
.search-row .search-img {
  width: 100%;
  height: 500px;
}

/* line 1, ../sass/_host_party.scss */
.party-page {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0%;
  overflow: hidden;
}

/* line 8, ../sass/_host_party.scss */
.party-panel {
  background: rgba(0, 0, 0, 0.3);
  color: white;
  padding: 10em 10em 5em 10em;
}

/* line 14, ../sass/_host_party.scss */
.host {
  background-image: url(/images/rockola.jpg);
}

/* line 18, ../sass/_host_party.scss */
.hosted {
  background-image: url(/images/party.jpg);
}

/* line 22, ../sass/_host_party.scss */
.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 2, ../sass/_navigation_tabs.scss */
.tab-padding {
  padding-top: 69px;
}

/* line 6, ../sass/_navigation_tabs.scss */
.tab-container {
  background: #088bd2;
}
/* line 8, ../sass/_navigation_tabs.scss */
.tab-container .nav-tabs {
  float: right;
  margin: 1em 0;
  border: none;
}
/* line 13, ../sass/_navigation_tabs.scss */
.tab-container .nav-tabs > li.active > a:hover, .tab-container .nav-tabs > li > a:hover, .tab-container .nav-tabs > li.active > a:focus, .tab-container .nav-tabs > li > a:focus {
  background: transparent;
  opacity: 0.8;
  border-color: #088bd2;
}
/* line 18, ../sass/_navigation_tabs.scss */
.tab-container .nav-tabs > li.active > a:hover, .tab-container .nav-tabs > li.active > a:focus {
  background: whitesmoke;
  color: #088bd2;
  border: none;
  cursor: pointer;
}
/* line 24, ../sass/_navigation_tabs.scss */
.tab-container .nav-tabs > li a {
  color: white;
  text-transform: uppercase;
}
/* line 28, ../sass/_navigation_tabs.scss */
.tab-container .nav-tabs > li.active a {
  color: #088bd2;
  border: none;
  border-radius: 0px;
}

/* line 37, ../sass/_navigation_tabs.scss */
.logo-container {
  padding-top: 1.5em;
}

/* line 1, ../sass/_font_awesome_custom.scss */
.fa-check-circle {
  color: #27ae60;
  font-size: 1.2em;
}

/* line 6, ../sass/_font_awesome_custom.scss */
.fa-times-circle {
  color: #088bd2;
  font-size: 1.2em;
}

/* line 11, ../sass/_font_awesome_custom.scss */
.kg-tooltip {
  display: inline;
  position: relative;
}

/* line 18, ../sass/_font_awesome_custom.scss */
.kg-tooltip:hover:after {
  border-radius: 10px 10px 10px 0;
  bottom: 26px;
  color: #fff;
  content: attr(tooltip);
  left: 20%;
  padding: .5em;
  position: absolute;
  z-index: 98;
  min-width: 150px;
  max-width: 250px;
  text-align: center;
  background: #088bd2;
}
/* line 35, ../sass/_font_awesome_custom.scss */
.kg-tooltip.danger:hover:after {
  background: #c0392b;
}
/* line 42, ../sass/_font_awesome_custom.scss */
.kg-tooltip.check:hover:after {
  background: #27ae60;
}
/* line 49, ../sass/_font_awesome_custom.scss */
.kg-tooltip.default:hover:after {
  background: #088bd2;
}
