@import url(https://fonts.googleapis.com/css?family=PT+Sans);
/*

@media (max-width: @screen-xs-max) { ... }
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) { ... }
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) { ... }
@media (min-width: @screen-lg-min) { ... }

*/
/* line 1, ../sass/_general.scss */
body, html {
  font-family: 'PT Sans', sans-serif;
}

/* line 5, ../sass/_general.scss */
ul {
  list-style: none;
}

/* line 9, ../sass/_general.scss */
.tabsdemoDynamicHeight md-content {
  background-color: transparent !important;
}

/* line 13, ../sass/_general.scss */
.tabsdemoDynamicHeight md-content md-tabs {
  background: #f6f6f6;
  border: 1px solid #e1e1e1;
}

/* line 18, ../sass/_general.scss */
.tabsdemoDynamicHeight md-content md-tabs md-tabs-wrapper {
  background: white;
}

/* line 22, ../sass/_general.scss */
.tabsdemoDynamicHeight md-content h1:first-child {
  margin-top: 0;
}

/* line 26, ../sass/_general.scss */
.track {
  margin-bottom: 10px;
}

/* line 30, ../sass/_general.scss */
.track img, .info {
  display: inline-block;
}

/* line 34, ../sass/_general.scss */
.whiteframedemoBasicUsage md-whiteframe {
  background: #fff;
  margin: 30px;
  height: 100px;
}

/* line 39, ../sass/_general.scss */
.info > .swipedemoBasicUsage .demo-swipe {
  padding: 20px 10px;
}

/* line 43, ../sass/_general.scss */
.info > .swipedemoBasicUsage .no-select {
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 54, ../sass/_general.scss */
.no-padding-col {
  padding: 0;
}

/* line 58, ../sass/_general.scss */
.no-songs-added {
  background: #0779b7;
  color: white;
}

/* line 63, ../sass/_general.scss */
.btn-konrad {
  background: white;
  border-radius: 0;
  border: 1px solid #088bd2;
  color: #088bd2;
}
/* line 68, ../sass/_general.scss */
.btn-konrad:hover {
  color: #088bd2;
  opacity: 0.8;
}

/* line 1, ../sass/_full-screen-panels.scss */
.full-screen {
  width: 100vw;
  height: 100vh;
  position: relative;
}
/* line 6, ../sass/_full-screen-panels.scss */
.full-screen > .fs-item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* line 13, ../sass/_full-screen-panels.scss */
.full-screen.fs-modal {
  background: rgba(0, 0, 0, 0.5);
}
/* line 16, ../sass/_full-screen-panels.scss */
.full-screen.fs-modal > div, .full-screen.fs-modal > section {
  z-index: 99;
}

/* line 1, ../sass/_search_song.scss */
.search-song-form {
  margin: 2em 0;
}
/* line 4, ../sass/_search_song.scss */
.search-song-form .input-group {
  position: fixed;
  z-index: 2;
  padding: 2em 0 3em 0;
  top: 70px;
  background: rgba(255, 255, 255, 0.8);
}
/* line 10, ../sass/_search_song.scss */
.search-song-form .input-group .input-group-addon {
  border: 0;
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
  text-transform: uppercase;
  background: whitesmoke;
  width: auto;
  padding: 1em;
}
/* line 18, ../sass/_search_song.scss */
.search-song-form .input-group .input-group-addon:hover, .search-song-form .input-group .input-group-addon:focus {
  cursor: pointer;
  color: #48baf8;
}
/* line 25, ../sass/_search_song.scss */
.search-song-form .search-input {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-top: none;
  border-left: none;
  padding: 1em;
  border-right: none;
  font-size: 1.2em;
  border-radius: 0;
  transition: all 0.5s ease-in-out;
}
/* line 36, ../sass/_search_song.scss */
.search-song-form .search-input:hover, .search-song-form .search-input:focus {
  color: #48baf8;
}

/* line 43, ../sass/_search_song.scss */
.button-group button {
  margin-top: 1em;
  padding: .5em;
  color: #088bd2;
  background: white;
  border: none;
  border-radius: 0;
  border: 1px solid #088bd2;
  transition: all 0.5s ease-in-out;
}
/* line 52, ../sass/_search_song.scss */
.button-group button:hover, .button-group button:focus {
  background: white;
  border: 1px solid #088bd2;
  color: #088bd2;
  opacity: 0.7;
}
/* line 58, ../sass/_search_song.scss */
.button-group button:first-child {
  border-right: none;
}

/* line 64, ../sass/_search_song.scss */
.list-group {
  padding-top: 10em;
  z-index: 1;
}
/* line 67, ../sass/_search_song.scss */
.list-group .disabled-msg {
  display: none;
}
/* line 70, ../sass/_search_song.scss */
.list-group .list-group-item.song-disabled {
  opacity: 0.6;
}
/* line 72, ../sass/_search_song.scss */
.list-group .list-group-item.song-disabled .disabled-msg {
  display: inline-block;
}
/* line 75, ../sass/_search_song.scss */
.list-group .list-group-item.song-disabled:hover {
  cursor: default;
}
/* line 77, ../sass/_search_song.scss */
.list-group .list-group-item {
  overflow: hidden;
}
/* line 79, ../sass/_search_song.scss */
.list-group .list-group-item:not(.song-disabled) {
  transition: all 0.2s ease-in-out;
}
/* line 81, ../sass/_search_song.scss */
.list-group .list-group-item:not(.song-disabled):hover, .list-group .list-group-item:not(.song-disabled):focus {
  cursor: pointer;
  color: #48baf8;
  border-top-color: #48baf8;
}
/* line 91, ../sass/_search_song.scss */
.list-group .preview-animation {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  padding-bottom: 100%;
  background: blue;
  transition: width 6s linear;
}

@media (max-width: 440px) {
  /* line 104, ../sass/_search_song.scss */
  .logo-container {
    display: none;
  }

  /* line 107, ../sass/_search_song.scss */
  .nav-tabs {
    width: 100%;
  }
  /* line 109, ../sass/_search_song.scss */
  .nav-tabs li {
    width: 100%;
  }

  /* line 113, ../sass/_search_song.scss */
  .tab-padding {
    padding-top: 149px !important;
  }

  /* line 117, ../sass/_search_song.scss */
  .search-song-form .input-group {
    top: 150px;
  }
}
/* line 1, ../sass/_image-grid.scss */
.search-row {
  color: whitesmoke;
  font-weight: bold;
}
/* line 6, ../sass/_image-grid.scss */
.search-row small {
  display: block;
  padding: 1em 0;
}
/* line 11, ../sass/_image-grid.scss */
.search-row .search-col {
  padding: .5em;
  display: table-cell;
  position: relative;
  background-repeat: no-repeat;
  background-position: 50% 0%;
  background-size: cover;
  padding-bottom: 33.33%;
  background-color: #c8c8c8;
  cursor: pointer;
  transition: opacity .5s ease-in-out;
}
/* line 23, ../sass/_image-grid.scss */
.search-row .search-col > footer, .search-row .search-col header {
  position: absolute;
  width: 100%;
  left: 50%;
  transform: translate(-50%, 0%);
  padding: .5em 0;
}
/* line 31, ../sass/_image-grid.scss */
.search-row .search-col > footer {
  bottom: 0%;
  background: rgba(0, 0, 0, 0.8);
}
/* line 36, ../sass/_image-grid.scss */
.search-row .search-col > header {
  visibility: hidden;
  top: 0%;
  background: rgba(0, 0, 0, 0.8);
}
/* line 42, ../sass/_image-grid.scss */
.search-row .search-col:hover {
  opacity: 0.8;
}
/* line 45, ../sass/_image-grid.scss */
.search-row .search-col.song-disabled {
  opacity: 0.6;
}
/* line 47, ../sass/_image-grid.scss */
.search-row .search-col.song-disabled:hover {
  cursor: default;
}
/* line 48, ../sass/_image-grid.scss */
.search-row .search-col.song-disabled > header {
  visibility: visible;
}
/* line 56, ../sass/_image-grid.scss */
.search-row .search-img {
  width: 100%;
  height: 500px;
}

/* line 1, ../sass/_host-party.scss */
.party-page {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0%;
  overflow: hidden;
}

/* line 8, ../sass/_host-party.scss */
.party-panel {
  background: rgba(0, 0, 0, 0.3);
  color: white;
  padding: 10em 10em 5em 10em;
}

/* line 14, ../sass/_host-party.scss */
.host {
  background-image: url(/images/rockola.jpg);
}

/* line 18, ../sass/_host-party.scss */
.hosted {
  background-image: url(/images/party.jpg);
}

/* line 22, ../sass/_host-party.scss */
.app-button {
  font-weight: bold;
  text-transform: uppercase;
  color: #088bd2;
  margin-top: 5em;
  border: none;
  border-radius: 0;
  padding: 1em 5em;
}
/* line 30, ../sass/_host-party.scss */
.app-button:hover {
  opacity: 0.8;
  color: #088bd2;
  background: whitesmoke;
}

/* line 37, ../sass/_host-party.scss */
.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}

/* line 43, ../sass/_host-party.scss */
.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 2, ../sass/_navigation-tabs.scss */
.tab-padding {
  padding-top: 69px;
}

/* line 6, ../sass/_navigation-tabs.scss */
.tab-container {
  background: #088bd2;
}
/* line 8, ../sass/_navigation-tabs.scss */
.tab-container .nav-tabs {
  float: right;
  margin: 1em 0;
  border: none;
}
/* line 13, ../sass/_navigation-tabs.scss */
.tab-container .nav-tabs > li.active > a:hover, .tab-container .nav-tabs > li > a:hover, .tab-container .nav-tabs > li.active > a:focus, .tab-container .nav-tabs > li > a:focus {
  background: transparent;
  opacity: 0.8;
  border-color: #088bd2;
}
/* line 18, ../sass/_navigation-tabs.scss */
.tab-container .nav-tabs > li.active > a:hover, .tab-container .nav-tabs > li.active > a:focus {
  background: whitesmoke;
  color: #088bd2;
  border: none;
  cursor: pointer;
}
/* line 24, ../sass/_navigation-tabs.scss */
.tab-container .nav-tabs > li a {
  color: white;
  text-transform: uppercase;
}
/* line 28, ../sass/_navigation-tabs.scss */
.tab-container .nav-tabs > li.active a {
  color: #088bd2;
  border: none;
  border-radius: 0px;
}

/* line 37, ../sass/_navigation-tabs.scss */
.logo-container {
  padding-top: 1.5em;
}
