<!doctype html>
<html>
  <head>
    <title>RocKGola</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    <link rel="stylesheet" href="../css/general.css">
  </head>

  <body ng-app="rockola" ng-controller="app" >

    <div class="container" >
     
      <div class="col col-md-12" >

        <section>
          <input type="text" ng-model="message" >
          <button ng-click="send()">Send</button>
          <ul>
              <li ng-repeat="message in messages">
                  {{ message }}
              </li>
          </ul>
        </section>

         <section>
            <h1>
              host: {{ party.host }}
            </h1>
            <h1>
              device: {{ deviceId }}
            </h1>
            <button ng-click="host()"
                    ng-hide="party.host"
                    class="btn btn-primary"
                  >
              Host
            </button>
            <button ng-click="stopHosting()"
                    ng-show="party.host && (party.host === deviceId)"
                    class="btn btn-primary"
                  >
              Stop hosting
            </button>
          </section>
    
      </div>

    </div>

    <script src="//code.angularjs.org/1.4.7/angular-route.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="scripts/Vendor/store.js" ></script>
    <script src="scripts/app.js" ></script>
</html>