<md-content layout="column" >

    <div ng-show="party.playlist.length" >

    	<!-- <section ng-show="party.host && (party.host === deviceId)" >
	    	<h1>You are hosting a party!</h1>
	        <button 
	                class="btn btn-primary"
	              >
	          Stop hosting
	        </button>
	    </section> -->

	    <section ng-hide="party.host" >
	        <rla-authentication>
				<!-- Injects a Spotify authenticator -->
	        </rla-authentication>
	    </section>

	    <section ng-show="party.host && (party.host !== deviceId)" >
	    	<h1>The party is beign hosted!</h1>
	    	<h2>Currently listeing to: {{ party.playlist[0].song.artists[0].name }} - {{ party.playlist[0].song.name }}</h2>
	    </section>

    </div>

    <rla-no-songs-added>
	    <!-- Directive that shows a message whenever there is no songs in the current playlist -->
	</rla-no-songs-added>
    
	<!-- <iframe id="spotify" ng-src="{{temp}}"  width="300" height="380" frameborder="0" allowtransparency="true"></iframe> -->
	
</md-content>
