<div class="container_app container"  ng-init="init()" ng-cloak>
  <md-content>
    <md-tabs md-dynamic-height md-border-bottom>
      <!-- Search tab-->
      <md-tab label="Add Song">
        <rla-search-song></rla-search-song>
      </md-tab>
      <!-- Vote tab-->
      <md-tab label="Vote">
        <rla-vote-song></rla-vote-song>
      </md-tab>
      <!-- Play music tab-->
      <md-tab label="Play">
        <rla-play-music></rla-play-music>
      </md-tab>
    </md-tabs>
  </md-content>
</div>