<section ng-init="init()" ng-cloak id="navigation-tabs" >

<!-- Desktop nav wrapper -->
  <nav class="navbar-fixed-top tab-container" >
    <!-- Logo -->
    <div class="logo-container pull-left col-md-3" ui-sref="search">
      <img src="images/icons/konrad-logo.png" alt="Konrad logo" height="25px" class="hidden-xs konrad-logo" ui-sref="app.search">
      <img src="images/icons/konrad-logo-small.png" alt="Konrad logo" height="25px" class="visible-xs konrad-logo" ui-sref="app.search">
    </div>
    <!-- Nav pills -->
    <ul class="nav nav-tabs text-center col-md-9" role="tablist">
      <li role="presentation" class="col-md-3" ng-class="{ 'active' :  match_state('app.search')  }" >
        <a ui-sref="app.search">I want to listen</a>
      </li>
      <li role="presentation" class="col-md-3" ng-class="{ 'active' :  match_state('app.vote')  }" >
        <a ui-sref="app.vote">Vote</a>
      </li>
    </ul>
  </nav>


   
</section>

<section ui-view >
  <!-- Content -->
</section>