@import url(https://fonts.googleapis.com/css?family=PT+Sans);
/* line 1, ../sass/_general.scss */
body, html {
  font-family: 'PT Sans', sans-serif;
}

/* line 5, ../sass/_general.scss */
ul {
  list-style: none;
}

/* line 9, ../sass/_general.scss */
.tabsdemoDynamicHeight md-content {
  background-color: transparent !important;
}

/* line 11, ../sass/_general.scss */
.tabsdemoDynamicHeight md-content md-tabs {
  background: #f6f6f6;
  border: 1px solid #e1e1e1;
}

/* line 14, ../sass/_general.scss */
.tabsdemoDynamicHeight md-content md-tabs md-tabs-wrapper {
  background: white;
}

/* line 16, ../sass/_general.scss */
.tabsdemoDynamicHeight md-content h1:first-child {
  margin-top: 0;
}

/* line 19, ../sass/_general.scss */
.track {
  margin-bottom: 10px;
}

/* line 22, ../sass/_general.scss */
.track img, .info {
  display: inline-block;
}

/* line 26, ../sass/_general.scss */
.whiteframedemoBasicUsage md-whiteframe {
  background: #fff;
  margin: 30px;
  height: 100px;
}

/* line 31, ../sass/_general.scss */
.info > .swipedemoBasicUsage .demo-swipe {
  padding: 20px 10px;
}

/* line 33, ../sass/_general.scss */
.info > .swipedemoBasicUsage .no-select {
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 43, ../sass/_general.scss */
.no-padding-col {
  padding: 0;
}

/* line 47, ../sass/_general.scss */
.fixed-header {
  position: fixed;
}

/* line 51, ../sass/_general.scss */
md-tabs-wrapper {
  position: fixed;
  z-index: 99;
  width: 100%;
  background: #088bd2 !important;
  top: 0;
  left: 0;
}

/* line 61, ../sass/_general.scss */
div > md-content {
  padding-top: 48px;
}

/* line 65, ../sass/_general.scss */
md-tabs.md-default-theme .md-tab {
  color: white;
  font-weight: bold;
}

/* line 70, ../sass/_general.scss */
md-tabs.md-default-theme .md-tab.md-active, md-tabs.md-default-theme .md-tab.md-focused {
  background: white;
  color: #088bd2;
}

/* line 75, ../sass/_general.scss */
md-tabs-canvas {
  height: 47px;
}

/* line 79, ../sass/_general.scss */
md-pagination-wrapper {
  height: 0;
}

/* line 83, ../sass/_general.scss */
.intrinsic-container {
  position: relative;
  height: 0;
  overflow: hidden;
  padding-bottom: 100%;
  margin-top: 1em;
}

/* line 91, ../sass/_general.scss */
.intrinsic-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 1, ../sass/_full-screen-panels.scss */
.full-screen {
  width: 100vw;
  height: 100vh;
  position: relative;
}
/* line 6, ../sass/_full-screen-panels.scss */
.full-screen > .fs-item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* line 13, ../sass/_full-screen-panels.scss */
.full-screen.fs-modal {
  background: rgba(0, 0, 0, 0.5);
}
/* line 16, ../sass/_full-screen-panels.scss */
.full-screen.fs-modal > div, .full-screen.fs-modal > section {
  z-index: 99;
}

/* line 1, ../sass/_search_song.scss */
.search-song-form {
  margin: 2em 0;
}

/* line 1, ../sass/_image-grid.scss */
.search-row {
  color: whitesmoke;
  font-weight: bold;
}
/* line 6, ../sass/_image-grid.scss */
.search-row small {
  display: block;
  padding: 1em 0;
}
/* line 11, ../sass/_image-grid.scss */
.search-row .search-col {
  display: table-cell;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0%;
  padding-bottom: 33.333%;
  cursor: pointer;
}
/* line 20, ../sass/_image-grid.scss */
.search-row .search-col > footer, .search-row .search-col header {
  position: absolute;
  width: 100%;
  left: 50%;
  transform: translate(-50%, 0%);
  padding: .5em 0;
}
/* line 28, ../sass/_image-grid.scss */
.search-row .search-col > footer {
  bottom: 0%;
  background: rgba(0, 0, 0, 0.7);
}
/* line 33, ../sass/_image-grid.scss */
.search-row .search-col > header {
  visibility: hidden;
  top: 0%;
  background: black;
}
/* line 39, ../sass/_image-grid.scss */
.search-row .search-col:hover {
  opacity: 0.8;
}
/* line 42, ../sass/_image-grid.scss */
.search-row .search-col.song-disabled {
  opacity: 0.6;
}
/* line 44, ../sass/_image-grid.scss */
.search-row .search-col.song-disabled:hover {
  cursor: default;
}
/* line 45, ../sass/_image-grid.scss */
.search-row .search-col.song-disabled > header {
  visibility: visible;
}

@media (max-width: 768px) {
  /* line 57, ../sass/_image-grid.scss */
  .search-row .search-col {
    padding-bottom: 100%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 65, ../sass/_image-grid.scss */
  .search-row .search-col {
    padding-bottom: 50%;
  }
}
/* line 1, ../sass/_login.scss */
.login-page {
  background-image: url(/images/rockola.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0%;
  overflow: hidden;
}
/* line 8, ../sass/_login.scss */
.login-page .login-panel {
  background: #088bd2;
  color: white;
  padding: 10em 10em 5em 10em;
}

/* line 16, ../sass/_login.scss */
.login-button {
  font-weight: bold;
  text-transform: uppercase;
  color: #088bd2;
  margin-top: 5em;
  border: none;
  border-radius: 0;
  padding: 1em 5em;
}

@media (max-width: 768px) {
  /* line 29, ../sass/_login.scss */
  .login-page .login-button {
    padding: 1em 2em;
  }
}
/* line 35, ../sass/_login.scss */
.hosting-page {
  background: #088bd2;
}
